/*清除浮动*/
.clear-fix:after
{
    content: '';
    display: block;
    clear: both;
}


nav
{
    background: #ccc;
    height: 50px;
}

#banner
{
    background: #777;
    height: 700px;
}

nav ul
{
    list-style-type:none;
    margin: 0;
    float: right;
}

nav ul li, nav .logo
{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

nav ul li a
{
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
}

nav .logo
{
    float: left;
    padding: 5px;
}

#banner .inner
{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 160px;
}
#banner .inner h1
{
    margin: 0px;
}

button
{
    border: none;
    background: #333;
    color: #eee;
    padding: 10px;

}

#banner button
{
    padding: 14px 40px;
}

#banner .inner .more
{
    margin-top: 220px;
}

.sub-heading
{
    margin: 30px;
    line-height: 30px;
}

.logo
{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo a
{
    color: #fff;
}

.hr
{
    width: 70%;
    height: 2px;
    margin: 20px auto;


}
.green-section
{
    background: #089DB0;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.green-section .hr
{
    background: #04656d;
}

.sub-heading
{
    font-size: 18px;
}

.icon-group
{
    margin: 60px;
}

.green-section .icon-group .icon
{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #077071;
    transform: rotate(45deg);
    margin: 20px;
}
.wrapper
{
    max-width: 1080px;
    margin: 0 auto;
}

.gray-section
{
    background: #000;
}

.gray-section .img-section
{
    width: 45%;
}

.img-section img
{
    width: 100%;
}

.gray-section .text-section
{
    width: 45%;
}

.gray-section .text-section h2, .gray-section .text-section p
{
    color: rgba(185, 174, 171, 0.98);
}


.article-preview > div
{
    float:left;
    font-size: 0;
}

.article-preview:after
{
    content: '';
    display: block;
    clear: both;
}

.text-section
{
    position: relative;
    top: 20px;
    left: 50px;
}

/*第三部分紫色区域*/
.purple-section
{
    padding: 80px;
    background: #5a336b;
    color: #fff;
}

.purple-section .header-wrapper
{
    text-align: center;
}

.purple-section .hr
{
    background-color: #5c2873;
    width: 60%;
}

.purple-section .card-group
{
    text-align: center;
}
.card
{
    float: left;
    width: 49%;
    min-height:300px;
    /*border: 1px solid white;*/
}

.card p
{
    font-size: 18px;
    letter-spacing: 1px;
}

.card:first-child
{
    background: rgba(0,0,0,0.04);
}

.card:nth-child(2)
{
    background: rgba(0,0,0,0.07);

}

.card:nth-child(3)
{
    background: rgba(0,0,0,0.10);

}
.card:nth-child(4)
{
    background: rgba(0,0,0,0.13);

}
.card:nth-child(5)
{
    background: rgba(0,0,0,0.16);

}